/* Give the main header an underline. */
h1 {
  padding-bottom: 21px;
  margin-bottom: 21px;
  border-bottom: 1px solid #DDD;
}

/* Make the inline code blocks look like the paragraph-level ones. */
*:not(pre) > code {
  color: #333;
  background-color: #F5F5F5;
  padding: 1px 3px;
  border: 1px solid #CCC;
}

/* Fix links containing inline code. */
a > code {
  color: #008CBA;
}

a > code:hover,
a > code:focus {
  color: #00526E;
}

/* Reduce the padding for code blocks. */

pre {
  padding: 4px;
}